*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  
}
.main{
  background-image: url('./Assets/moso\ 1.jpg');
  background-position: center;
  background-size: cover;
}
.calculator-div{
  width: 500px;
  height: 680px;
  border-radius: 30px;
  padding: 10px;
  background-color: rgba(0, 0, 0, .75);
}
.input-div{
  font-size: 60px;
  height: 120px;
  display: flex;
  flex-direction: column;

  
}
.input-area{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 38px;
  height: 40px;
}
.output-area{
  background-color: transparent;
  border: none;
  color: white;
  height: 70px;
}
.buttons{

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(7rem) repeat(5);
}
.btn{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;

}
.span-1{
  grid-column: span 2;
  height: 80px;
  width: 180px;
  border-radius: 20px;
}
.span-2{
  grid-column: span 2;
  height: 80px;
  width: 180px;
  border-radius: 20px;

}